:host {
    display: block;
}

/* Use SLDS variables to style the label */
lightning-input::part(label) {
    color: var(--lwc-colorInputForeground, #ffffff);
    font-size: var(--lwc-fontSizeInput, 1rem);
    /* Add more styles as needed */
}

.slds-form-element__label{
    font-size: 15px;
}

.background{
    /* background: #5f2c82; /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #5f2c82, #49a09d); Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #5f2c82, #49a09d);  */
    width: 30%;
    left: 35%;
}

.pillSize{
    width: 100%;
    display: grid;
    height: 4.5vh;
    font-size: 17px;
}

.pillSize .slds-pill__label{
    float: left;
    width: 100%;
}

lightning-button button{
    margin-top: 10px;
}